.form-area{
    margin: 100px auto;
    text-align: center;
    background-color: #ddd;
    width: 500px;
    padding: 50px;
}
.form-area input{
    margin-bottom: 10px;
    width: 80%;
    padding: 8px 15px;
}
.social-button {
    width: 80%;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 700;
    color: #74d8f1;
    border-radius: 45px;
}
.social-button span {
    margin-right: 60px;
}
.social-icon {
    font-size: 24px;
    color: black;
}